/vendor
/node_modules
composer.phar
/composer.lock
yarn.lock

.env
.env.*

/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*

/storage/logs/*

/public/mix-manifest.json
/public/css/*
